[Unit]
Description=deny new usb devices
ConditionFileNotEmpty=/proc/sys/kernel/deny_new_usb

[Service]
Type=oneshot
ExecStart=/usr/bin/sysctl -q kernel.deny_new_usb=1

[Install]
WantedBy=multi-user.target
